@import url(navbar.css);

/* Estilo para o corpo */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../assets/Trabalho.jpg") repeat-x center top;
  background-size: 1900px auto;
  color: #333;
  background-color: #333;
}

/* Adiciona altura ao conteúdo */
main {
  min-height: 200vh; /* Permite rolar a página */
  padding: 2rem;
}

/* Estilo para o rodapé */
footer {
  background: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
  text-align: center;
  color: #fff;
  padding: 1rem 0;
}

.horario-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.horario-item {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  border: solid 1px #333;
}

.activity {
  background-color: #0060df;
  color: white;
  cursor: pointer;
}

.h2 {
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.lower {
  margin-top: 30px;
}

@media only screen and (max-width: 800px) {
  .horario-item b {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 25px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .horario-container {
    grid-template-columns: repeat(7, auto);
  }
  .horario-item {
    font-size: 12px;
    padding: 10px 10px;
  }
  .horario-item b {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 15px;
    font-size: 12px;
  }
}
